<f:view xmlns="http://www.w3.org/1999/xhtml"
		xmlns:f="http://xmlns.jcp.org/jsf/core"
		xmlns:h="http://java.sun.com/jsf/html">
	<h:head>
	</h:head>
	<h:body>
		<h:panelGroup rendered="#{!empty jockeyDetailBean.jockey}">
			<h3><h:outputText value="#{jockeyDetailBean.jockey.name}"/></h3>

			<div class="row">
				<div class="col-xs-4 col-sm-2">
					<img src="#{jockeyDetailBean.jockey.portraitUrl}"/>
				</div>
				<div class="col-xs-8 col-sm-10">
					<dl>
						<dt><h:outputText value="#{i18n['id']}"/></dt>
						<dd><h:outputText value="#{jockeyDetailBean.jockey.id}"/></dd>
					</dl>
					<dl>
						<dt><h:outputText value="#{i18n['horse']}"/></dt>
						<dd><h:outputText value="#{jockeyDetailBean.jockey.horse}"/></dd>
					</dl>
				</div>
			</div>

			<h:link value="#{i18n['back-to-overview']}" outcome="jockeys"/>
		</h:panelGroup>
	</h:body>
</f:view>