<f:view xmlns="http://www.w3.org/1999/xhtml"
		xmlns:f="http://xmlns.jcp.org/jsf/core"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:p="http://primefaces.org/ui">
	<h:head>
		<h:outputStylesheet name="style.css"/>
	</h:head>
	<h:body>
		<h:form id="search-form">
			<div class="row">
				<div class="col-md-4">
					<div class="form-group input-select-wrapper">
						<h:selectOneMenu id="team" value="#{jockeySearchBean.teamName}" styleClass="form-control">
							<f:selectItem noSelectionOption="true" itemLabel="#{i18n['select-team']}"/>
							<f:selectItems value="#{applicationConstants.teams}"/>
						</h:selectOneMenu>
					</div>
				</div>
				<div class="col-md-2">
					<p:commandButton value="#{i18n['search']}" action="#{jockeyOnDemandDataModel.search}" update=":data-form" styleClass="btn-primary"/>
				</div>
			</div>
		</h:form>

		<h:form id="data-form">
			<p:dataTable rows="#{jockeyOnDemandDataModel.rowsPerPage}" value="#{jockeyOnDemandDataModel}" var="jockey" paginator="true" paginatorAlwaysVisible="false">
				<p:column headerText="#{i18n['id']}">
					<h:outputText value="#{jockey.id}"/>
				</p:column>
				<p:column headerText="#{i18n['name']}">
					<h:outputText value="#{jockey.name}"/>
				</p:column>
				<p:column headerText="#{i18n['horse']}">
					<h:outputText value="#{jockey.horse}"/>
				</p:column>
				<p:column headerText="#{i18n['team']}">
					<h:outputText value="#{jockey.teamName}"/>
				</p:column>
				<p:column>
					<p:link value="#{i18n['view']}" outcome="detail">
						<f:param name="id" value="#{jockey.id}"/>
					</p:link>
				</p:column>
			</p:dataTable>
		</h:form>
	</h:body>
</f:view>